<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>

<div class="reg_box">
<div style="text-align: center; color: orange; font-size: 20px;">Это форма для активации аккаунта, а не для регистрации.</div>
	<table cellspacing="15">
	<form action="/activate" method="post">
		{%csrf_token%}
		<tr>
			<td>
				<input type="text" name="user_name" style="box-sizing: border-box;" placeholder="Ваше имя" required>
			</td>
		</tr>
		<tr>
			<td>
				<input type="email" name="user_email" style="box-sizing: border-box;" placeholder="Электронная почта" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
			</td>
		</tr>
		<tr>
			<td>
				<input type="password" name="user_password1" style="box-sizing: border-box;" placeholder="Пароль" id="password" onchange="validate_password()" required>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" name="" value="Отправить">
			</td>
		</tr>
		</form>
	</table>
</div>
</body>
</html>